# Chapter 4: Sample Notebook

This notebook contains all code from Chapter 4: _A Brief Introduction to the Python Programming Language_.

## 4.1 Fundamentals

### 4.1.3  Python Uses Indentation to Group Statements

In [1]:
div_yield_firm1 = 0.06
div_yield_firm2 = 0.04

if div_yield_firm1 > 0.05:
    print('Invest in firm 1.')
else:
    if div_yield_firm2 > 0.05:
        print('Invest in firm 2.')
    else:
        print('Do not invest at this time.')

Invest in firm 1.

### 4.1.4 Comments

In [2]:
# Some sample code
x = 3

## 4.2 Variables and Data Types

### 4.2.1 Creating Variables

#### How to Create a New Variable

In [3]:
z = 14

### 4.2.3 Data Types

#### Integers (`int` Data Type)

In [4]:
k =  -7352
print(k)

-7352

#### Floating Point Numbers (`float` Data Type)

In [5]:
myFloat1 = -5.7
myFloat2 = 5.0
myFloat3 = 5.

#### Strings (`str` Data Type)

In [6]:
myString = 'The CEO said, "Earnings growth will exceed 5% next quarter."'
print(myString)

The CEO said, "Earnings growth will exceed 5% next quarter."

In [7]:
myString = "Harley's ticker symbol is HOG."
print(myString)

Harley's ticker symbol is HOG.

In [8]:
myString = 'Harley\'s ticker symbol is HOG.'
print(myString)

myString = "The CEO said, \"Earnings growth will exceed 5% next quarter.\""
print(myString)

Harley's ticker symbol is HOG.
The CEO said, "Earnings growth will exceed 5% next quarter."

#### Booleans (`bool` Data Type)

In [9]:
x = 0

if (x > 3):
    print('Something')
else:
    print('Something else')

Something else

### 4.2.4 Checking the Type of a Variable, Value, or Expression

In [10]:
type(7)

int

In [11]:
y = 'Hello there.'
type(y)

str

### 4.2.5 Converting Between Types

In [12]:
int('EBITDA is 1.03 million.')

ValueError: invalid literal for int() with base 10: 'EBITDA is 1.03 million.'

## 4.3 Operators

### 4.3.2 Comparison Operators

#### The Equal To (==) and Not Equal To (!=) Operators

In [13]:
x = 5  # Set the value of x to 5.
if x == 5:
    print('x equals 5.')

x equals 5.

### 4.3.4 Membership Operators

In [14]:
myList = [1,2,3]

if 5 in myList:
    print('5 is in the list.')
else:
    print('5 is not in the list.')

5 is not in the list.

In [15]:
myList = [1,2,3]

for x in myList:
    print(x)

1
2
3

### 4.3.5 Operator Precedence / Order of Operations

In [16]:
not 4 + 3 * 4 * 2 == 28

False

In [17]:
not (4 + 3) * 4 * 2 == 28

True

## 4.4 The `print` Function

### 4.4.1 Printing a Single Value or Variable

In [18]:
pi = 3.14
print(pi)

3.14

### 4.4.2 Printing Multiple Values

In [19]:
print(5, -3, 'EDGAR')

5 -3 EDGAR

### 4.4.3 Printing More Complicated Expressions

In [20]:
CompanyName = 'General Motors'
FiscalYear = 2019
NetIncome = 6581000000

print(f'In FY{FiscalYear}, {CompanyName.upper()} had net income of {NetIncome / 1e9} billion.')

In FY2019, GENERAL MOTORS had net income of 6.581 billion.

## 4.5 Control Flow

### 4.5.1 `if` Statements

In [21]:
age = 25

if (age < 13):
    print('child')
elif (age < 20):
    print('teenager')
elif (age < 30):
    print('young adult')
elif (age < 50):
    print('middle aged')
else:
    print('old')

young adult

### 4.5.2 Loops

In [22]:
for x in [1,2,3,7]:
    print(x)

1
2
3
7

In [23]:
for x in range(7):
    print(x)

0
1
2
3
4
5
6

## 4.6 Functions

### 4.6.1 Writing Functions

#### A Simple Function

In [24]:
def MyAverage(x, y):
    return (x + y) / 2

#### Arguments are Local Variables

In [25]:
def SampleFunction():
    x = 0
    print(f'Inside SampleFunction, x is {x}')

x = 15    
SampleFunction()
print(f'Outside SampleFunction, x is {x}')

Inside SampleFunction, x is 0
Outside SampleFunction, x is 15

#### Anonymous Functions / Lambda Expressions

In [26]:
# Create the list [0,1,...9]
L = list(range(10))

# Extract all elements of L greater than 7
# Save to new list named filteredList
filteredList = list(filter(lambda x: x > 7, L))

print(filteredList)

[8, 9]

### 4.6.2 Using Functions Written By Others

#### Modules and `import` Statements

In [27]:
import math
print(math.factorial(5))

120

In [28]:
from math import factorial, log, sin

In [29]:
from math import *

In [30]:
import statistics as st

mydata = [1,3,5,7,9]
my_median = st.median(mydata)

print(f'The median of my data is {my_median}')

The median of my data is 5

### 4.6.3 Calling Functions

In [31]:
import re
text = "OI for FY 2019 was 12.4 billion, up more than eight percent from OI in FY 2018."
pretty_text = re.sub("OI", "Operating Income", text)
print(pretty_text)

Operating Income for FY 2019 was 12.4 billion, up more than eight percent from Operating Income in FY 2018.

#### Keyword Arguments

In [32]:
pretty_text = re.sub(pattern="OI", 
                     repl="Operating Income", 
                     string=text)

In [33]:
pretty_text = re.sub(string=text,
                     repl="Operating Income",
                     pattern="OI")

In [34]:
re.sub("OI", "Operating Income", string=text)

'Operating Income for FY 2019 was 12.4 billion, up more than eight percent from Operating Income in FY 2018.'

In [35]:
re.sub(pattern="OI", "Operating Income", text)

SyntaxError: positional argument follows keyword argument (<ipython-input-35-1a96811d74d8>, line 1)

## 4.7 Collections - Lists, Tuples, and Dictionaries

### 4.7.1 Lists

#### Creating a List

In [36]:
L = ['GM', -3.14, [1, 2, 3]]
type(L)

list

In [37]:
L[1]

-3.14

In [38]:
print(L[-1])

[1, 2, 3]

#### Slicing

In [39]:
L = ['a', 'b', 'c', 'd', 'e', 'f']

print(f'Example 1: {L[0:2]}')
print(f'Example 2: {L[2:2]}')
print(f'Example 3: {L[4:]}')
print(f'Example 4: {L[:2]}')
print(f'Example 5: {L[0:6:2]}')
print(f'Example 6: {L[5:2:-1]}')

Example 1: ['a', 'b']
Example 2: []
Example 3: ['e', 'f']
Example 4: ['a', 'b']
Example 5: ['a', 'c', 'e']
Example 6: ['f', 'e', 'd']

#### Modifying List Elements

In [40]:
L[1] = 6
print(L)

['a', 6, 'c', 'd', 'e', 'f']

In [41]:
L[4:6] = [-999, 0]
print(L)

['a', 6, 'c', 'd', -999, 0]

#### Other List Operations

In [42]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1 + list2

['a', 'b', 'c', 1, 2, 3]

In [43]:
L = [1, 2, 3]
L * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### Copying Lists

In [44]:
L = [1, 2, 3]

L2 = L
L2[0] = 'text'

print(f'L = {L}')
print(f'L2 = {L2}')

L = ['text', 2, 3]
L2 = ['text', 2, 3]

In [45]:
L = [1, 2, 3]

L2 = L.copy()
L2[0] = 'text'

print(f'L = {L}')
print(f'L2 = {L2}')

L = [1, 2, 3]
L2 = ['text', 2, 3]

#### Adding and Removing Elements from Lists

In [46]:
L = [1, 2, 3]
L.append('cat')
print(L)

[1, 2, 3, 'cat']

### 4.7.3 Dictionaries

In [47]:
income_stmt = {'Revenue': 100, 
               'COGS': 52, 
               'Gross margin': 48, 
               'SG&A': 40, 
               'Net Income': 8}

In [48]:
income_stmt['Revenue']

100

In [49]:
income_stmt['Fiscal Year'] = 2018

In [50]:
income_stmt['Fiscal Year'] = 1998

## 4.8 Working with Strings

### 4.8.1 Strings as Lists of Characters

In [51]:
s = 'Hello world.'
list(s)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '.']

### 4.8.2 Extracting Pieces of Strings

In [52]:
s = 'Hello world.'
print(s[-1])
print(s[0:5])

.
Hello

### 4.8.3 String Operations

#### Joining Strings

In [53]:
s1 = 'Hello'
s2 = 'World'
s1 + ' ' + s2 + '.'

'Hello World.'

#### Repeating Strings

In [54]:
s1 = 'Hello'
s1 * 3

'HelloHelloHello'

#### Checking Whether a String Contains a Substring

In [55]:
s = 'Foundations and Trends in Accounting'
print('Accounting' in s)
print('AND' in s)

True
False

### 4.8.4 Useful String Functions and Methods

#### Getting the Length of a String

In [56]:
len('abcd')

4

#### `lower` and `upper`

In [57]:
s = 'Hello world.'
print(s.upper())
print(s.lower())

HELLO WORLD.
hello world.

#### `strip`, `lstrip`, and `rstrip`

In [58]:
s = '  Dirty string with unnecessary spaces at beginning and end.  '
s.strip()

'Dirty string with unnecessary spaces at beginning and end.'

In [59]:
s = 'Hello.'
s.rstrip('.')

'Hello'

#### `startswith` and `endswith`

In [60]:
s = '111 33'
print(s.startswith('11'))
print(s.endswith('x'))

True
False

#### `find`

In [61]:
s = 'text analysis'
s.find('xt a')

2

#### `replace`

In [62]:
s = 'text analysis'
s.replace('text', 'TEXT')

'TEXT analysis'

#### Count Occurrences of a Substring

In [63]:
s = """At FedEx Ground, we have the market leading e-commerce portfolio. We continue to see strong demand across 
all customer segments with our new seven-day service. We will increase our speed advantage during the New Year. 
Our Sunday roll-out will speed up some lanes by one and two full transit days. This will increase our advantage 
significantly. And as you know, we are already faster by at least one day when compared to UPS's ground service in 
25% of lanes. It is also really important to note our speed advantage and seven-day service is also very valuable 
for the premium B2B sectors, including healthcare and perishables shippers. Now, turning to Q2, I'm not pleased 
with our financial results."""

s.lower().count('we')

4

#### `split`

In [64]:
s = 'text analysis is fun.'
s.split()

['text', 'analysis', 'is', 'fun.']